@model List<Assignment.ViewModels.Company.CompanyDTO>
@{
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border: solid;
            width: 100%;
        }

        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 10px;
            text-decoration-style: double;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<section>
        <h1>Company</h1>
        <div class="Add Company">
        <a asp-controller="Company" asp-action="AddCompany">Add Company</a>
        </div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th hidden>Id</th>
                    <th>SN</th>
                    <th>Company Name</th>
                    <th>Company Phone</th>
                    <th>Company Email</th>
                    <th>Company Description</th>
                </tr>
            </thead>
        </table>
 <tbody>
            @{
                int i = 0;
            }
            @foreach (var company in Model)
            {
                <td hidden>@company.Id</td>
                <td>@(i += 1)</td>
                <td>
                    <a href="Company/AddCompany/@company.Id">Update</a>
                    &nbsp;&nbsp; <a href="Company/Delete/@company.Id">Delete</a>
                </td>
            }

  </tbody>
 </section>
</html>